@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

.content-container h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #596c72;
}
.content-container p {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #353535;
  margin-bottom: 30px;
  line-height: 21px;
}
.content-container h2 {
  max-width: 1320px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #596c72;
}
.content-container .center {
  text-align: center;
}
.content-container button {
  font-size: 12px;
  color: #353535;
  font-family: "Mulish", sans-serif;
  padding: 13px 55px;
  border: 1px solid #353535;
  border-radius: 30px;
  background: none;
}
.content-container button:hover {
  border: none;
  border: 1px solid #ffc01f;
  background-color: #ffc01f;
}
.content-container h6 {
  max-width: 1440px;
  margin: auto;
  padding: 10px 60px;
  font-size: 12px;
  font-weight: 500;
  color: #adadad;
}
.content-container h6 span {
  color: #596c72;
}
.content-container .tech_detail {
  max-width: 1440px;
  margin: auto;
  padding: 60px 100px;
  background-image: url("/assets/images/bg/bg.png");
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-container .tech_detail .details_photos {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.content-container .tech_detail .details_photos .photos_min {
  width: 20%;
}
.content-container .tech_detail .details_photos .photos_min li {
  width: 72px;
  height: 95px;
  margin-bottom: 50px;
}
.content-container .tech_detail .details_photos .photos_min img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
}
.content-container .tech_detail .details_photos .photos_max {
  width: 80%;
}
.content-container .tech_detail .details_photos .photos_max img {
  width: 100%;
}
.content-container .tech_detail .details_info {
  width: 50%;
  max-width: 566px;
  padding: 90px 50px;
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(149, 149, 149, 0.25);
}
.content-container .tech_detail .details_info h1 {
  margin-bottom: 5px;
}
.content-container .tech_detail .details_info h2 {
  margin: 0px 0px 30px;
}
.content-container .tech_detail .details_info .price {
  margin-top: 60px;
}
.content-container .tech_detail .details_info .price .price_day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-container .tech_detail .details_info button {
  width: 100%;
  margin: 50px 0pxx;
}
.content-container .tech_detail .details_info .orange {
  color: #ffc01f;
}
.content-container .techniques-container {
  max-width: 1440px;
  margin: auto;
  padding: 0px 60px 100px;
  background-image: url("/assets/images/bg/bg.png");
  background-position: center;
  text-align: center;
}
.content-container .techniques-container h2 {
  text-align: left;
}
.content-container .techniques-container .techniques-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  list-style: none;
  text-align: left;
  gap: 10px;
}
.content-container .techniques-container .techniques-list .techniques-list_item {
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(149, 149, 149, 0.25);
  max-width: 315px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info h4 {
  font-size: 18px;
  color: #596c72;
  margin-bottom: 2px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info p {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info .info_name {
  color: #686868;
  margin-bottom: 10px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info .info_time {
  color: #b0adad;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info .info_price {
  align-self: flex-end;
  color: #ffc01f;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.content-container .techniques-container .techniques-list .techniques-list_item .techniques_info button {
  width: 100%;
}
.content-container .techniques-container .all {
  margin-top: 30px;
  padding: 13px 55px;
}

@media (max-width: 1100px) {
  #content .content-container h6 {
    display: none;
  }
  #content .content-container .techniques-container {
    padding: 60px 20px;
  }
  #content .content-container .techniques-container .techniques-list {
    gap: 20px;
    justify-content: space-evenly;
  }
}
@media (max-width: 900px) {
  #content .content-container {
    padding: 0px;
  }
  #content .content-container h1 {
    font-size: 30px;
  }
  #content .content-container .tech_detail {
    max-width: 1440px;
    margin: auto;
    padding: 0px 20px 60px;
    background-image: url("/assets/images/bg/bg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #content .content-container .tech_detail .details_photos {
    width: 100%;
    align-items: center;
  }
  #content .content-container .tech_detail .details_info {
    width: 100%;
    max-width: 100%;
  }
  #content .content-container .techniques-container .techniques-list .techniques-list_item {
    max-width: 350px;
  }
  #content .content-container .techniques-container .techniques-list .techniques-list_item img {
    width: 350px;
  }
  #content .content-container .techniques-container .all {
    width: 100%;
    background-color: #ffc01f;
    border: none;
  }
}
.header .header-information {
  background-color: #ffc01f;
}
.header .header-information .information-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  padding: 12px 60px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .header-information .information-container .information-container_contact {
  color: #353535;
  font-size: 12px;
}
.header .header-information .information-container .information-container_icons {
  display: flex;
  flex-flow: row nowrap;
}
.header .header-information .information-container .information-container_icons svg {
  margin-right: 24px;
}
.header .header-information .information-container .information-container_icons svg:nth-last-child(1) {
  margin-right: 0px;
}
.header .header-navigation .navigation-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 50px 60px;
  align-items: center;
  color: #353535;
  font-size: 14px;
}
.header .header-navigation .navigation-container .navigation-container_menu {
  display: flex;
  -webkit-text-decoration: row;
          text-decoration: row;
}
.header .header-navigation .navigation-container .navigation-container_menu .menu_item {
  margin-right: 54px;
  position: relative;
}
.header .header-navigation .navigation-container .navigation-container_menu .menu_item a {
  color: #353535;
}
.header .header-navigation .navigation-container .navigation-container_menu .menu_item:nth-last-child(1) {
  margin-right: 0px;
}
.header .header-navigation .navigation-container .navigation-container_menu .menu_item:hover > a {
  color: #ffc01f;
}
.header .header-navigation .navigation-container .navigation-container_menu .technique_menu {
  display: none;
  position: absolute;
  width: 180px;
  background-color: white;
  box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.2509803922);
  padding: 20px;
}
.header .header-navigation .navigation-container .navigation-container_menu .technique_menu li {
  color: #596c72;
  padding: 15px 0px;
}
.header .header-navigation .navigation-container .navigation-container_menu .technique_menu li:hover > a {
  color: #ffc01f;
  padding: 15px 0px;
}
.header .header-navigation .navigation-container .navigation-container_menu .technique:hover > .technique_menu {
  display: block;
}
.header .header-navigation .navigation-container .navigation-container_lang {
  display: flex;
  -webkit-text-decoration: row;
          text-decoration: row;
}
.header .header-navigation .navigation-container .navigation-container_lang .lang {
  margin: 0 10px;
}
.header .header-navigation .navigation-container .navigation-container_lang .lang:nth-last-child(1) {
  margin-right: 0px;
}
.header .header-navigation .navigation-container .navigation-container_lang .lang:hover {
  color: #ffc01f;
}
.header .header-navigation .navigation-container .navigation-container_lang .az {
  font-weight: 700;
}
.header .header-navigation .navigation-container .navigation-container_phone {
  display: none;
}

.header:hover {
  box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.2509803922);
}

@media (max-width: 1100px) {
  .header .header-information .information-container {
    padding: 12px 20px;
  }
  .header .header-information .information-container .information-container_contact {
    margin-right: 42px;
  }
  .header .header-navigation .navigation-container {
    padding: 50px 20px;
  }
  .header .header-navigation .navigation-container .navigation-container_menu .menu_item {
    margin-right: 20px;
  }
}
@media (max-width: 900px) {
  .header .header-navigation .navigation-container {
    padding: 20px 20px;
  }
  .header .header-navigation .navigation-container .navigation-container_menu {
    display: none;
  }
  .header .header-navigation .navigation-container .navigation-container_lang {
    display: none;
  }
  .header .header-navigation .navigation-container .navigation-container_phone {
    display: block;
    position: relative;
    /* скрываем чекбокс */
  }
  .header .header-navigation .navigation-container .navigation-container_phone .hamburger-menu #menu__toggle {
    display: none;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .hamburger-menu .menu__btn .menu_open {
    display: block;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .hamburger-menu .menu__btn .menu_close {
    display: none;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .menu__box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 7;
    background-color: white;
    background-image: url("/assets/images/bg/header_phone_bg.jpg");
    background-position: center;
    background-size: cover;
  }
  .header .header-navigation .navigation-container .navigation-container_phone #menu__toggle:checked ~ .menu__btn > .menu__box {
    display: block;
  }
  .header .header-navigation .navigation-container .navigation-container_phone #menu__toggle:checked ~ .menu__btn > .menu_open {
    display: none;
  }
  .header .header-navigation .navigation-container .navigation-container_phone #menu__toggle:checked ~ .menu__btn > .menu_close {
    display: block;
    position: fixed;
    right: 20px;
    top: 75px;
    z-index: 10;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu {
    padding: 20px;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .list_item,
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu a {
    margin-bottom: 25px;
    color: #353535;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu a:hover {
    color: #ffc01f;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .technique_menu {
    margin-left: 40px;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .technique_menu li {
    margin: 15px 0px;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .technique_menu li:nth-last-child(1) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .technique_menu li a {
    color: #596c72;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .technique_menu li:hover > a {
    color: #ffc01f;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .phone-menu_lang {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }
  .header .header-navigation .navigation-container .navigation-container_phone .phone-menu .phone-menu_lang .lang_az {
    font-weight: 700;
  }
}
footer {
  background-image: url("/assets/images/bg/footer_bg.jpg");
  background-position: center;
  background-size: cover;
}
footer .footer-information {
  max-width: 1440px;
  margin: auto;
  display: flex;
  padding: 80px 60px;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 14px;
}
footer .footer-information .footer-information_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 80px;
}
footer .footer-information .footer-information_container ul {
  list-style: none;
}
footer .footer-information .footer-information_container ul li {
  margin-bottom: 20px;
}
footer .footer-information .footer-information_container ul li a {
  color: #353535;
}
footer .footer-information .footer-information_container ul li:nth-last-child(1) {
  margin-bottom: 0px;
}
footer .footer-information .footer-information_icons .icons {
  margin-top: 20px;
}
footer .footer-information .footer-information_icons .icons img {
  margin-right: 36px;
}
footer .footer-information .footer-information_icons .icons img:nth-last-child(1) {
  margin-right: 0px;
}
footer hr {
  border-top: 1px solid #ffc01f;
}
footer .footer-copyright {
  max-width: 1440px;
  margin: auto;
  display: flex;
  padding: 0px 60px 30px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

@media (max-width: 1100px) {
  .footer .footer-information .footer-information_container {
    margin-bottom: 50px;
    gap: 80px;
  }
  .footer .footer-information .footer-information_icons {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer-information .footer-information_icons .icons {
    text-align: center;
  }
  .footer .footer-information .footer-information_icons .icons img {
    margin-right: 82px;
  }
  .footer .footer-information .footer-information_icons .icons img:nth-last-child(1) {
    margin-right: 0px;
  }
}
@media (max-width: 900px) {
  .footer {
    background-image: url("/assets/images/bg/footer_phone_bg.jpg");
    background-position: center;
    background-size: cover;
  }
  .footer .footer-information {
    padding: 73px 20px;
  }
  .footer .footer-information .footer-information_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 50px;
  }
  .footer .footer-information .footer-information_container .container_menu {
    min-width: 87px;
  }
  .footer .footer-information .footer-information_container .container_contact {
    min-width: 185px;
  }
  .footer .footer-copyright {
    padding: 30px 20px;
    font-size: 11px;
  }
}/*# sourceMappingURL=tex_detail.css.map */