* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

$dark: #353535;
$light: #69768b;
$primary: #ffc01f;

$font-mulish: "Mulish", sans-serif;

.content-container {
  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 55px;
    color: $light;
  }
  p {
    font-family: $font-mulish;
    font-size: 16px;
    color: $light;
    margin-bottom: 30px;
    line-height: 20px;
  }
  h2 {
    max-width: 1320px;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 500;
    color: $light;
  }
  .center {
    text-align: center;
  }
  button {
    font-size: 12px;
    color: $dark;
    font-family: $font-mulish;
    padding: 13px 55px;
    border: 1px solid $dark;
    border-radius: 30px;
    background: none;
  }
  button:hover {
    border: none;
    border: 1px solid $primary;
    background-color: $primary;
  }
  h6 {
    max-width: 1440px;
    margin: auto;
    padding: 10px 60px;
    font-size: 12px;
    font-weight: 500;
    color: #adadad;

    span {
      color: $light;
    }
  }
  color: $light;
  .contact {
    max-width: 1440px;
    margin: auto;
    padding: 100px 60px;
    background-image: url("/assets/images/bg/main_section3.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // section 1
  .form-contact {
    width: 50%;
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      input {
        width: 45%;
        padding: 13px 23px;
        box-sizing: border-box;
        border: 1px solid #353535;
        border-radius: 30px;
        background: none;
      }
      textarea {
        width: 100%;
        box-sizing: border-box;
        height: 127px;
        padding: 13px 23px;
        border: 1px solid #353535;
        border-radius: 30px;
        background: none;
      }
      button {
        width: 100%;
      }
    }
  }

  // section 2
  .information-contact {
    max-width: 427px;
    padding: 74px 50px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 0px 7px rgba(149, 149, 149, 0.25);
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        margin-bottom: 26px;
      }
    }
    .information_icons {
      margin: 20px 0px;
      .icons {
        img {
          margin-right: 32px;
        }
      }
    }
  }
}

// for desktop
@media (max-width: 1100px) {
  #content {
    .content-container {
      h6 {
        display: none;
      }
      .contact {
        padding: 30px 20px;

        // section 1
        .form-contact {
          form {
            input {
              width: 100%;
            }
          }
        }

        // section 2
        .information-contact {
          max-width: 350px;
          padding: 64px 30px;
        }
      }
    }
  }
}

// for tablet for phone
@media (max-width: 900px) {
  #content {
    .content-container {
      background-image: url("/assets/images/bg/main_phone_section2.png");
      background-position: center;
      background-size: cover;
      padding: 0px;
      .contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        // section 1
        .form-contact {
          width: 100%;
        }
        // section 2
        .information-contact {
          max-width: 100%;
          padding: 64px 30px;
          margin: 0px;
        }
      }
    }
  }
}

@import "./headerfooter/header";
@import "./headerfooter/footer";
